# Service definitions for Growatt Server integration

update_time_segment:
  fields:
    segment_id:
      required: true
      example: 1
      selector:
        number:
          min: 1
          max: 9
          mode: box
    batt_mode:
      required: true
      example: "load_first"
      selector:
        select:
          options:
            - "load_first"
            - "battery_first"
            - "grid_first"
          translation_key: batt_mode
    start_time:
      required: true
      example: "08:00"
      selector:
        time:
    end_time:
      required: true
      example: "12:00"
      selector:
        time:
    enabled:
      required: true
      example: true
      selector:
        boolean:
    device_id:
      required: true
      selector:
        device:
          integration: growatt_server

read_time_segments:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: growatt_server

write_ac_charge_times:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: growatt_server
    charge_power:
      required: true
      example: 100
      selector:
        number:
          min: 0
          max: 100
          mode: slider
    charge_stop_soc:
      required: true
      example: 100
      selector:
        number:
          min: 0
          max: 100
          mode: slider
    mains_enabled:
      required: true
      example: true
      selector:
        boolean:
    period_1_start:
      required: true
      example: "00:00"
      selector:
        time:
    period_1_end:
      required: true
      example: "00:00"
      selector:
        time:
    period_1_enabled:
      required: true
      example: false
      selector:
        boolean:
    period_2_start:
      required: true
      example: "00:00"
      selector:
        time:
    period_2_end:
      required: true
      example: "00:00"
      selector:
        time:
    period_2_enabled:
      required: true
      example: false
      selector:
        boolean:
    period_3_start:
      required: true
      example: "00:00"
      selector:
        time:
    period_3_end:
      required: true
      example: "00:00"
      selector:
        time:
    period_3_enabled:
      required: true
      example: false
      selector:
        boolean:

write_ac_discharge_times:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: growatt_server
    discharge_power:
      required: true
      example: 100
      selector:
        number:
          min: 0
          max: 100
          mode: slider
    discharge_stop_soc:
      required: true
      example: 10
      selector:
        number:
          min: 0
          max: 100
          mode: slider
    period_1_start:
      required: true
      example: "00:00"
      selector:
        time:
    period_1_end:
      required: true
      example: "00:00"
      selector:
        time:
    period_1_enabled:
      required: true
      example: false
      selector:
        boolean:
    period_2_start:
      required: true
      example: "00:00"
      selector:
        time:
    period_2_end:
      required: true
      example: "00:00"
      selector:
        time:
    period_2_enabled:
      required: true
      example: false
      selector:
        boolean:
    period_3_start:
      required: true
      example: "00:00"
      selector:
        time:
    period_3_end:
      required: true
      example: "00:00"
      selector:
        time:
    period_3_enabled:
      required: true
      example: false
      selector:
        boolean:

read_ac_charge_times:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: growatt_server

read_ac_discharge_times:
  fields:
    device_id:
      required: true
      selector:
        device:
          integration: growatt_server
